<form action = "login" method = "post">
   <!-- PAGE -->
   <section id="page">
         <!-- LOGIN -->
         <section id="login">
            <div>
               <div>
                  <div class="col-md-4 col-md-offset-4">
                     <div>
                        <h2>用户登录</h2>
                        <div></div>
                        <form role="form">
                          <div>
                           <label for="exampleInputEmail1">邮箱地址</label>
                           <i class="fa fa-envelope"></i>
                           <input type="email" name="email" id="exampleInputEmail1" >
                          </div>
                          <div>
                           <label for="exampleInputPassword1">登录密码</label>
                           <i class="fa fa-lock"></i>
                           <input type="password" name="password" id="exampleInputPassword1" >
                          </div>
                          <div>
                        <label> <input type="checkbox" value=""> 保存密码</label>
                           <button type="submit" class="btn btn-danger">提交</button>
                          </div>
                        </form>
