<!DOCTYPE html>
<html>
<form action = "login" method = "post">

<head>
	<meta charset="utf-8"/>
	<title>用户登录</title>
	<meta name="author" content="DeathGhost" />
    <link rel="stylesheet" type="text/css" href="css/users.css" >
</head>
<body>
<dl class="admin_login">
 <dt>
  <strong>用户登录</strong>
  <em>Login</em>
 </dt>
 <img width="180px" height="180px" src="images/123.jpg">
 <dd class="user_icon">
  <input type="email" placeholder="账号" class="login_txtbx" name="email" id="exampleInputEmail1" />
 </dd>
 <dd class="pwd_icon">
  <input type="password" placeholder="密码" class="login_txtbx" name="password" id="exampleInputPassword1" />
 </dd>
 <dd>
  <input type="submit" value="登陆" class="submit_btn"/><!--submit-->
 </dd>
 <dd>
  <input type="submit" value="注册" class="resign_btn"/>
 </dd>
  <!--   {# 接收回执消息 #}
    {% for message in get_flashed_messages() %}
     {{message}}
    {% endfor %}-->
</dl>
</body>

</form>
</html>
